
.chat-container h2 {
    font-size: 24px;
    letter-spacing: 5px;
    color: #424242;
    /* font-family: 'Roboto Mono', monospace; */
    text-align: center;
    margin: 10px;
}

.chat-container h2::before {
    font-size: 25px;
    content: "💬";
}

.chat-container {
    border: solid #424242;
    padding: 5px;
    border-radius: 5px;
    height: 100%;
    background-color: #E7E6E6;
    box-sizing: border-box;
}


.messages-container {
    height: 60vh;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    text-align: left;
    padding: 3px;
}

.messages-container > div:last-child {
    scroll-snap-align: end;
}

.message {
    font-size: smaller;
    padding: 0 5px;
    word-break: break-all;
}

.message span {
    font-size: larger;
}

.chat-form-container {
    width: 96%;
    margin: 10px 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    align-items: center;
}

.chat-form-container button {
    border: none;
    font-size: x-large;
    background-color: white;
    float: right;
    margin: 5px 2px 0 0;
}

.chat-form-container button:active, .chat-form-container button:focus {
    border: none;
    outline: none;
}

.chat-form-container input {
    border: 0;
    outline: none;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 5px;
    padding: 5px;
    width: 75%;
    box-sizing: border-box;
}
