.chat-container h2 {
    font-size: 24px;
    letter-spacing: 5px;
    color: #424242;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin: 10px;
}

.chat-container h2::before {
    font-size: 25px;
    content: "💬";
}

.chat-container {
    border: solid #424242;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
    background-color: #E7E6E6;
}


.messages-container {
    height:300px;
    width: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
    padding: 3px;
}

.message {
    font-size: smaller;
    padding: 0 5px;
}

.message span {
    font-size: larger;
}

.chat-form-container {
    width: 100%;
    margin: 10px 5px;
}

.chat-form-container button {
    font-size: x-large;
    border: none;
    border-radius: 1000px;
    background-color: #E7E6E6;
}

.chat-form-container button:active {
    border: none;
    outline: none;
}

.chat-form-container input {
    border: 0;
    border-radius: 5px;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 5px;
    padding: 5px;
    width: 85%;
    box-sizing: border-box;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 40px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 40px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
