.room-code {
  font-size: 50px;
  text-align: center;
  margin: 0px;
  color: #424242;
  letter-spacing: 5px;
}

.round-num {
  font-size: 30px;
  display: block;
  text-align: center;
}

.game-wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "hd"
    "users"
    "settings"
    "chat";
}

@media (min-width: 768px) {
  .game-wrapper {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
      "hd hd hd"
      "users settings chat";
  }
}

.logo-img {
  width: 100px;
}

.grid-header {
  grid-area: hd;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-evenly;
  place-items: center;
  border: solid #424242;
  padding: 10px;
  border-radius: 5px;
  max-height: 100%;
  background-color: #9575cd;
}

.start-btn-container {
  display: flex;
}

.logo {
  color: #424242;
}

.grid-users {
  grid-area: users;
}

.grid-settings {
  grid-area: settings;
}

.grid-chat {
  grid-area: chat;
}

.play-btn {
  font-size: 1.25em;
}