body {
  background-color: #c4f5fc;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.form-container {
  width: 400px;
  display: block;
  justify-content: center;
  margin: 5px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  color: #111;
  font-family: Hack, monospace;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin: 20px
}

.main-button {
    font-family: Hack, monospace;
    background: #FF99B3;
    color: #ffffff;
    cursor: pointer;
    font-size: 2em;
    padding: 1.5rem;
    border: 0;
    transition: all 0.3s;
    border-radius: 10px;
    margin: 15px 10px;

}

.main-button:hover {
        background: #FF85A1;
        transition: all 0.3s;
        border-radius: 10px;
        box-shadow: 0px 6px 15px #FFD6E0;
        padding: 1.5rem 2.5rem 1.5rem 2.5rem;
}

.main-input{
  width: 100%;
  border-width: 0.75px;
  border-color: #A6A6A6;
  border-style: solid;
  padding: 15px 20px;
  margin: 5px;
  border-radius: 7px;
  outline: none;
  box-sizing:border-box;
}

.main-input:focus{
  border-width: 2px;
  border-color: #201e1f;
}

.form-container p {
  font-weight: bolder;
  font-family: monospace;
  color: #ff4000;
  margin: 0 10px;
}

.form-container p::before {
  display: inline;
  content: "❌";
  padding-right: 2px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #B1F1FB;
  color: white;
  text-align: center;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}

.nav-item {
  font-size: larger;
  color: black;
  font-family: Hack, monospace;
  padding: 0 20px

}