@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #90CAF9;
}

::placeholder{
  font-size: 17px;
  color: #D9D9D9
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.form-container {
  width: 400px;
  display: block;
  justify-content: center;
  margin: 5px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  color: #424242;
  font-size: 7vw;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin: 40px
}


.home-btn {
  font-size: 1.5em;
}

.main-input{
  font-size: 17px;
  width: 100%;
  border-width: 1px;
  border-color: #A6A6A6;
  border-style: solid;
  padding: 15px 20px;
  margin: 5px;
  border-radius: 7px;
  outline: none;
  box-sizing:border-box;
}

.main-input:focus{
  border-width: 2px;
  border-color: #424242;
}

.form-container p {
  font-size: smaller;
  font-weight: bolder;
  color: #ff4000;
  margin: 0 10px;
}

.form-container p::before {
  display: inline;
  content: "❌";
  padding-right: 4px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #B1F1FB;
  color: white;
  text-align: center;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}

.nav-item {
  font-size: larger;
  color: black;
  padding: 0 20px
}