.options-container {
  border: solid #424242;
  padding: 5px;
  border-radius: 5px;
  background-color: #e57373;
}

.options-container h2 {
  font-size: 24px;
  letter-spacing: 5px;
  color: #424242;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  margin: 10px;
}

.options-container h2::before {
  font-size: 20px;
  content: "⚙️";
}

.options-container .round-heading {
  color: #424242;
  text-align: center;
  letter-spacing: 3px;
  font-size: -large;
  margin-bottom: 5px;
  padding: 5px;
}

.title-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.title-row h3 {
  margin: 10px 5px;
  color: #424242;
}

.page-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.page-container {
  border: solid #424242;
  margin: 0 5px;
  padding: 0 15px;
  border-radius: 5px;
  height: 100%;
  background-color: white;
  text-align: center;
  display: grid;
  place-items: center;
}

.page-container h3 {
  color: #424242;
  letter-spacing: 1px;
}

.random-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.random-btn {
  font-size: 1em;
}
