.options-container {
  border: solid #424242;
  padding: 5px;
  border-radius: 5px;
  background-color: #e57373;
}

.options-container h2 {
  font-size: 24px;
  letter-spacing: 5px;
  color: #424242;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  margin: 10px;
}

.options-container h2::before {
  font-size: 20px;
  content: "⚙️";
}

.page-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.page-container {
  border: solid #424242;
  margin-top: 0;
  padding: 0 15px;
  border-radius: 5px;
  height: 100%;
  background-color: white;
}

.page-container h3 {
}

.image-container {
  justify-content: center;
  border: 1px #424242 solid;
}

.random-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.random-btn {
  font-size: 1em;
}
