@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #c4f5fc;
}

.main-button {
  border: 3px solid #424242;
  background: #ff99b3;
  color: #424242;
  letter-spacing: 0.2em;
  cursor: pointer;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.3s;
  border-radius: 10px;
  margin: 15px 10px;
  outline: none;
}

.main-button:hover {
  background: #ff85a1;
  transition: all 0.3s;
  border-radius: 10px;
}

.main-button:disabled {
  border-color: #BDBDBD;
  background-color: #E0E0E0;
  color: #BDBDBD;
  cursor: default;
}

.main-button:active {
  outline: none;
}



/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 40px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
