<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WikiRacing.io</title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
        integrity="sha256-ijqLssetA1NMNjZ+w1zaUafQQLm4IW5OoM8O+4tatME=" crossorigin="anonymous"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='js/play.js')}}"></script>

    <script src="https://unpkg.com/easytimer.js@4.3.0/dist/easytimer.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/timer.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/play.css') }}">

</head>

<body>
    <h1 id="display-room"></h1>

    <div id="userlist-div">
        <h2>Users:</h2>
        <ul id='user-list'></ul>
    </div>

    <div id="chat-div">
        <h2>Chat:</h2>
        <ul id="chat-messages"></ul>
        <input id="chatmessage" placeholder="say hi!" required>
        <button id="sendchat">Send</button>
    </div>

    <div id="timer" class="centered">
        <h2 class="timer-val">00:00:00</h2>
        <div>
            <button class="startButton">Start</button>
            <button class="stopButton">Stop</button>
        </div>
    </div>

    <div>
        <h3 id='startpage'><a href="/wiki/Lionel_Messi">Start Page: Lionel Messi</a></h3>

        <h3><a href="/wiki/Cristiano_Ronaldo">Target Page: Cristiano Ronaldo</a></h3>
    </div>

</body>

</html>